body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}

/* Estilos del header */
.header {
  display: flex;
  background-color: #141414;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
}

.header .container {
  display: flex;
}

.header .barra {
  display: flex;
  justify-content: right;
}

.header nav {
  display: flex;
  align-items: center;
}

.header .logo {
  width: 100px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.header button {
  background-color: #141414;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.header .img {
  height: 55px;
}

.barra a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}

/* Estilos de las secciones */
.section {
  margin-bottom: 20px; /* Espacio entre secciones */
}

/* Estilos de las imágenes */
.imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre imágenes */
}

.imagen {
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción original */
  display: block; /* Hace que la imagen sea un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border-radius: 8px; /* Añade bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}

/* Estilos del título de la película */
.titulo {
  text-align: center; /* Centra el texto del título */
  margin-top: 8px; /* Espacio superior entre la imagen y el título */
  font-size: 14px; /* Tamaño de fuente del título */
  color: #ffffff; /* Color del texto del título */
}

/* Estilos del contenedor de cada película */
.pelicula {
  text-align: center; /* Centra el contenido de la película */
  margin-bottom: 20px; /* Espacio inferior entre películas */
}

